.RandomTextBox {
    background-color: rgb(168, 172, 172);
    width: auto;
    height: 100px;
    margin: 50px 20px 20px 20px;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}

.bold {
    background-color: aqua;
}

input {
    margin: 5px;
    text-align: center;
}

.sonuc {
    background-color: rgb(168, 172, 172);
    width: 400px;
    height: 450px;
    margin: 50px auto 20px auto;
    justify-content: center;
    text-align: center;

}

.startbutton {
    width: 100px;
    background-color: rgb(168, 172, 172);
    color: white;
    border-radius: 5px;
    vertical-align:middle;
}


.startbutton:hover {
    background-color: rgb(38, 39, 39);
    color: white;
}

.timer {
    border: 2px;
    border-style: solid;
    vertical-align: middle;
    justify-content: center;
    margin: 0 10px 0 10px;
    font-size: 14px;
    padding: 5px;
    background-color: rgb(168, 172, 172);
    color: white;
}